@import 'src/styles/shared.scss';

.totalList {
  width: 600px;
}
.totalListItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border: 2px solid $accent-color;
}
.totalList__text {
  margin-right: 10px;
}

.totalList__button {
  width: 150px;
  height: 30px;
  background-color: $accent-color;
  color: #fff;
  display: block;
  border-radius: 50px;

  text-align: center;
}
