.totalList {
  width: 600px;
}
.totalListItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border: 2px solid teal;
}
.totalList--text {
  margin-right: 10px;
}
