@import 'src/styles/shared.scss';
.container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  height: '100vh';
  display: flex;
  align-items: center;
  justify-content: center;
}

.container button {
  width: 150px;
  height: 30px;
  background-color: $accent-color;
  color: #fff;
  display: block;
  border-radius: 50px;

  text-align: center;
  margin: 20px auto;
}
